html{
    width:100%; 
    height : 100%;
}
/* 배경 그라데이션 색 지정 */
body{
    background: linear-gradient(to bottom,#725DD2 1%,#A00167 
     ,#F55D2B  , #FBC24E ); 
    background-size : cover;
    
}
div.input {
    margin-top: 300px;
    text-align: center;}
     

/* 인스타그램 로고 하얀색 채우기 */
/* 스프라이트 이미지 */
/* 제목 디자인  */
div.input p{
    display:block;
    font-family: 'Ranchers', cursive;
    font-weight: 100; 
    font-size : 50px; 
    color : white;
    padding : 0;
    margin:0;
}
/* made by 디자인 */
div.input h3 a{
    text-decoration: none;
    color: blanchedalmond;
    font-family: 'Grandstander', cursive; }
 
/* 아이디,비밀번호란 중앙정렬 */
div form{
    width : 600px;
    margin:0 auto;
    
}
/* 목록 * 없앰 */
form ul{
    list-style-type:none;}
/*  */
form ul li{
    margin-bottom: 8px;
}
.form-control{
    height:23px;
    font-size :16px;
    width:160px;
    font-family: 'Gothic A1', sans-serif;
}
input::placeholder{
     
    color:#F6A611;
    text-align:center;
    font-family: 'Grandstander', cursive;
    
}
.title a{
    display:inline-block;
    width:87px;
    text-align:left; 
    font-family: 'Black Han Sans', sans-serif;
    font-size: 20px;
    font-weight:100;
    color :#636263;
}
button{
    width:80px;
    color :gray;
    border-radius: 15px;
} 