@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Grandstander:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
body{
    margin: 0;
    font-size: 1.2rem;
    overflow: hidden;
    background: linear-gradient(to bottom,#725DD2 1%,#A00167 
     ,#F55D2B  , #FBC24E ); 
    width: 100vw; 
    height: 100vh; 
}
button, input{
    border: none;
    outline: none;
}
 