<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인스타그램 분석기</title>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap" rel="stylesheet">
    <style> 
    
    @import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Grandstander:wght@600&display=swap');
 
 </style>
 <link rel="stylesheet" href="{{ url_for('static', filename='../static/index.css')}}"> 
 <link rel="stylesheet" href="../static/index.css"> 
</head>

<body>
    <div class="input"> 
        <span id="logo">인스타그램 로고</span>
        <p>Instagram Follower&Following<p>
        <h3><a href="https://www.instagram.com/yd_w_sang/">Made by &lt;yd_w_sang&gt;</a></h3>
        <form action="/result" method="POST" autocomplete="off">
        <ul> 
            <li> 
                <label for="exampleInputEmail1" class="title"><a>ID</a></label> 
                <span><input type="text" class="form-control"  name="Id" id="exampleInputEmail1" placeholder="enter your ID"></span>
            </li>
            <li> 
                <label for="exampleInputPassword1" class="title"><a>Passwd</a></label>
                <input type="text" class="form-control" name="passwd" id="exampleInputPassword1" placeholder="enter a password">
            </li>
        </ul>
         
        <button type="submit" class="btn btn-default"><a>제출</a></button>
        </form>
    </div>
</body>
</html>