<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인스타그램 분석기</title>
</head>
<body>
    <div>  
    <form action="/result" method="POST" autocomplete="off">
    <div class="form-group">
        <label for="exampleInputEmail1">아이디</label>
        <input type="text" class="form-control"  name="Id" id="exampleInputEmail1" placeholder="아이디를 입력하세요">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">비밀번호</label>
        <input type="text" class="form-control" name="passwd" id="exampleInputPassword1" placeholder="비밀번호를 입력하세요">
    </div>
    <button type="submit" class="btn btn-default">제출</button>
    </form>
    </div>
</body>
</html>